<p id="notice"><%= notice %></p>

<h1>Listing Styles</h1>

<p> Number of styles: <%= @styles.count %> </p>

<div class="list-group">
 <% @styles.each do |style| %>
   <button type="button" class="list-group-item"><%= link_to style.name, style %></button>
 <% end %>
</div>

<br>

<%= link_to('New Style', new_style_path, class:"btn btn-primary") if current_user %>
